/*
 @ASRIENT
 XUI lib
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(219, 219, 219);
  --grey: rgb(128, 128, 128);
  --dark: rgb(59, 59, 59);
  --black: rgb(24, 24, 24);

  --red: #ff000d;
  --blue: #00A8FF;
  --green: rgb(0, 167, 28);
  --purple: rgb(132, 0, 255);
  --orange: rgb(255, 164, 27);

  --primary: var(--black);
  --secondary: var(--dark);
  --tertiary: var(--light);
  --bg: var(--white);

  --xs: 0.8rem;
  --s: 1rem;
  --m: 1.2rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;

  --base-light: 200;
  --base-semilight: 400;
  --base-regular: 600;
  --base-semibold: 700;
  --base-bold: 800;
}

@media(min-width:360px) {
  :root {
    --xs: 0.9rem;
    --s: 1rem;
    --m: 1.4rem;
    --l: 1.6rem;
    --xl: 2.1rem;
    --xxl: 3.3rem;
  }
}

@media (min-width: 992px) {
  :root {
    --xs: 1rem;
    --s: 1.1rem;
    --m: 1.6rem;
    --l: 1.8rem;
    --xl: 2.5rem;
    --xxl: 3.5rem;
  }
}

[data-theme="dark"] {
  --primary: var(--white);
  --secondary: var(--light);
  --tertiary: var(--dark);
  --bg: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #005ec2;
  text-decoration: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Segoe UI', sans-serif;
  font-size: var(--s);
  font-weight: 300;
  color: var(--secondary);
  background-color: var(--bg);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.icon {
  height: 1.2em;
  box-sizing: border-box;
  margin: 0.1em;
  margin-bottom: 0em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--tertiary);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0.15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.2rem;
  border: none;
  background: linear-gradient(#65AFFA, #0E81FF);
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.28);
  color: white;
  transition-property: all;
  transition-duration: 100ms;
}

.maxHt {
  height: 100%;
}

.size-xs {
  font-size: var(--xs);
}

.size-s {
  font-size: var(--s);
}

.size-m {
  font-size: var(--m);
}

.size-l {
  font-size: var(--l);
}

.size-xl {
  font-size: var(--xl);
}

.size-xxl {
  font-size: var(--xxl);
}


.ink-black {
  color: var(--black);
}

.ink-dark {
  color: var(--dark);
}

.ink-light {
  color: var(--light);
}

.ink-white {
  color: var(--white);
}

.ink-blue {
  color: var(--blue);
}

.ink-orange {
  color: var(--orange);
}

.ink-red {
  color: var(--red);
}

.ink-green {
  color: var(--green);
}

.ink-purple {
  color: var(--purple);
}

.ink-grey {
  color: var(--grey);
}

.ink-primary {
  color: var(--primary);
}

.ink-secondary {
  color: var(--secondary);
}

.ink-tertiary {
  color: var(--tertiary);
}

.ink-bg {
  color: var(--bg);
}

.base-light {
  font-weight: var(--base-light);
}

.base-semilight {
  font-weight: var(--base-semilight);
}

.base-regular {
  font-weight: var(--base-regular);
}

.base-semibold {
  font-weight: var(--base-semibold);
}

.base-bold {
  font-weight: var(--base-bold);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.hstack.center{
  justify-content: center;
}

.hstack.space-around{
  justify-content: space-around;
}

.hstack.hstack.space-between{
  justify-content: space-between;
}

.vstack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vstack.center{
  justify-content: center;
}

.vstack.space-around{
  justify-content: space-around;
}

.vstack.hstack.space-between{
  justify-content: space-between;
}

.center-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@media(min-width:600px) {
  .center-responsive {
    flex-direction: row;
  }
}

.center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.callout{
  border:solid 1px var(--primary);
  background-color: rgba(136, 136, 136, 0.274);
  color:var(--primary);
  border-radius: 0.5rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.6rem;
  width: 100%;
  max-width: 35rem;
  margin-right: auto;
  margin-left: auto;
}

.callout.red{
  border-color: var(--red);
  background-color: rgba(250, 0, 0, 0.2);
  color:var(--red);
}

.callout.blue{
  border-color: var(--blue);
  background-color: rgba(0, 162, 255, 0.2);
  color:var(--blue);
}

.callout.green{
  border-color: var(--green);
  background-color: rgba(200, 255, 218, 0.2);
  color:var(--green);
}

.callout.orange{
  border-color: var(--orange);
  background-color: rgba(255, 136, 0, 0.2);
  color:var(--orange);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fat {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
  max-width: 900px;
}

.container-healthy {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 100%;
  max-width: 650px;
}

.container-slim {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.clickable {
  cursor: pointer;
}

.button {
  display: inline;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 0.2rem;
  border: none;
  background: var(--tertiary);
  cursor: pointer;
  transition-property: all;
  transition-duration: 100ms;
  text-align: center;
}

.button:hover{
  opacity: 0.8;
}

.button.rounded {
  padding: 0.3rem 1.1rem;
  border-radius: 2rem;
}

.button.blue-gradient {
  background: linear-gradient(#65AFFA, #0E81FF);
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.28);
  color:white;
}

.button.blue {
  background: var(--blue);
}

.button.orange-gradient {
  background: linear-gradient(0deg, rgb(255, 145, 0), rgb(255, 208, 0));
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.28);
}

.button.orange {
  background: var(--orange);
}

.button.green {
  background: var(--green);
}

.button.purple {
  background: var(--purple);
}

.button.red {
  background: var(--red);
}

.button.white {
  background: var(--white);
  font-weight: 500;
}

.button.light {
  background: var(--light);
  font-weight: 500;
}

.button.grey {
  background: var(--grey);
  font-weight: 500;
}

.button.dark {
  background: var(--dark);
  font-weight: 500;
}

.button.black {
  background: var(--black);
  font-weight: 500;
}

.button.primary {
  background: var(--primary);
  font-weight: 500;
}

.button.secondary {
  background: var(--secondary);
  font-weight: 500;
}

.button.tertiary {
  background: var(--tertiary);
  font-weight: 500;
}

.button.bg {
  background: var(--bg);
  font-weight: 500;
}

.button.bordered {
  border-style: solid;
  border-width: 0.06rem;
  color: var(--blue);
  border-color: var(--blue);
  background: none;
  font-weight: 400;
}

.button.bordered.blue {
  color: var(--blue);
  border-color: var(--blue);
}

.button.bordered.green {
  color: var(--green);
  border-color: var(--green);
}

.button.bordered.red {
  color: var(--red);
  border-color: var(--red);
}

.button.bordered.orange {
  color: var(--orange);
  border-color: var(--orange);
}

.button.bordered.purple {
  color: var(--purple);
  border-color: var(--purple);
}

.button.bordered.primary {
  color: var(--primary);
  border-color: var(--primary);
}

.button.bordered.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.button.bordered.tertiary {
  color: var(--tertiary);
  border-color: var(--tertiary);
}

.button.bordered.bg {
  color: var(--bg);
  border-color: var(--bg);
}

.button.bordered.white {
  color: var(--white);
  border-color: var(--white);
}

.button.bordered.light {
  color: var(--light);
  border-color: var(--light);
}

.button.bordered.grey {
  color: var(--grey);
  border-color: var(--grey);
}

.button.bordered.dark {
  color: var(--dark);
  border-color: var(--dark);
}

.button.bordered.black {
  color: var(--black);
  border-color: var(--black);
}

.button.strech{
  display: block;
  width: 100%;
  max-width: 25rem;
  padding: 0.4rem 1rem;
}

.input {
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  max-width: 85vw;
  height: 2.6rem;
  background-color: rgb(255 255 255 / 90%);
  color: #353535;
  border: none;
  border-radius: 0;
  margin: 0.3rem 0.3rem;
}
.helptext{
  width: 17rem;
  max-width: 85vw;
  font-size: 0.9rem;
  color:var(--grey);
  font-weight: 200;
  padding: 0.1rem 0.3rem;
}
.trunc {
  width: 16rem;
  max-width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trunc-long{
  width: 37rem;
  max-width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media(max-width:350){
  .trunc {
    max-width: 34vw;
  }
}
input[type=submit]{
  padding: 0.5rem;
  width: 100%;
  margin: 0.8rem 0.3rem;
  background: rgb(0, 119, 255);
  color:white;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.2rem;
  width: 17rem;
  max-width: 85vw;
}
input[type=submit]:hover{
  background: rgb(0, 153, 255);
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  max-width: 85vw;
  height: 2.6rem;
  background-color: rgb(233, 233, 233);
  color: rgb(75, 75, 75);
  border: solid thin rgb(199, 199, 199);
  margin: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  outline: none;
}
@keyframes focus{
  0% { box-shadow: 0 0 8px 9px #51a5ff50;}
  100% { box-shadow: 0 0 3px 4px #007cff63;}
}
input:focus {
  box-shadow: 0 0 3px 4px #007cff63;
  animation-name: focus;
  animation-duration: 350ms;
  animation-direction: alternate-reverse;
}
[data-theme="dark"] input{
  background-color: rgb(36, 36, 36);
  color: rgb(211, 211, 211);
  border: solid thin rgb(44 44 44);
}
input[type=checkbox]{
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  height: 1rem;
  width: 1rem;
  padding: auto;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  width: 17rem;
  height: 5rem;
  max-width: 85vw;
  background-color: rgb(233, 233, 233);
  color: rgb(75, 75, 75);
  border: solid thin rgb(199, 199, 199);
  margin: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  outline: none;
}
[data-theme="dark"] textarea{
  background-color: rgb(36, 36, 36);
  color: rgb(211, 211, 211);
  border: solid thin rgb(44 44 44);
}
.errorlist{
  list-style: none;
  padding: 0.3rem 0.2rem;
  color:rgb(221, 0, 0);
  font-size: 0.9rem;
  width: 17rem;
  max-width: 85vw;
  text-align: left;
}

.toggle-container {
  position: relative;
}

.toggle-button {
  display: flex;
  align-items: center;
  background: rgb(214, 214, 214);
  border:solid thin rgb(192, 192, 192);
  width: 2.6rem;
  height: 1.6rem;
  border-radius: 30px;
  padding: 0.15rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
[data-theme="dark"] .toggle-button{
  background: rgb(78, 78, 78);
  border-color:rgb(88, 88, 88);
}

.toggle-button > .inner-circle {
  background: white;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 4px 0px #2b2b2bd4;
}

.toggle-button.active {
  background: linear-gradient(90deg,#00a516,#008b00);
  border: none;
}

.toggle-button.active > .inner-circle {
  margin-left: 1rem;
}